<p id="notice"><%= notice %></p>

<p>
  <strong>Identity:</strong>
  <%= @employess.identity %>
</p>

<p>
  <strong>Name:</strong>
  <%= @employess.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employess.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @employess.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employess.email %>
</p>

<p>
  <strong>City:</strong>
  <%= @employess.city %>
</p>

<%= link_to 'Edit', edit_employess_path(@employess) %> |
<%= link_to 'Back', employesses_path %>
